{__NOLAYOUT__}
<!DOCTYPE html>
<html>
  <head>
    <title>网站后台管理</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Bootstrap 学习">
    <meta name="description" content="description">
    <meta name="author" content="">
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <load href="__PUBLIC__/Common/Bootstrap/css/bootstrap.min.css" />
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <load href="__PUBLIC__/Common/Bootstrap/css/bootstrap-theme.min.css" />
    <import type="css" file="Admin.css.login"  />
    <!--<load href="./css/login.css" />-->
  </head>
  <body>
    <div class="container container-content" id="pjax-container">
      <div class="center-block">
        <div class="panel panel-default login-box">
          <div class="panel-body">
          <form class="login-form" role="form" action="{:U('admin/Public/login')}" method="post">
            <div class="form-group"><h3>七号网络内容管理系统</h3></div>
            <div class="input-group">
              <label class="sr-only" for="username">用户名</label>
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
            </div>
            <div class="input-group">
              <label class="sr-only" for="password">密码</label>
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <div class="input-group">
              <label class="sr-only" for="verify">验证码</label>
              <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
              <input type="text" name="verify" class="form-control" id="verify" placeholder="请输入验证码" >
<!--              <a class="" style="width: 20%;" title="换一张?">换一张?</a>-->
            </div>
            <div class="input-group">
              <img class="verifyimg" src="{:U('admin/Public/verify')}"  />
            </div>
            <button type="submit" class="btn btn-primary btn-block">登陆</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <load href="__PUBLIC__/Common/js/jquery/jquery-2.1.0.min.js" />
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <load href="__PUBLIC__/Common/Bootstrap/js/bootstrap.min.js" />
    <!-- jQuery UI -->
    <load href="__PUBLIC__/Common/js/jquery/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js" />
    <!-- pjax -->
    <load href="__PUBLIC__/Common/js/jquery/jquery.pjax.js" />
    <!-- 公用js -->
    <load href="__PUBLIC__/Common/js/common.js" />
  </body>
</html>